section.general
    .general__top
        .general__site Личный сайт веб-разработчика
        h1.general__name Елена Малюгина
    .general__down
        .scroll__text Скролл
        +icon('scroll', 'scroll__icon')