-
    var userData =[
        {
            key: 'Проживаю',
            value: 'Москва'
        },
        {
            key: 'Возраст',
            value: '40 лет'
        },
        {
            key: 'Родился',
            value: '04 августа 1980'
        }
    ]

section.user
    .user__photo 
        +image('content/user.jpg', 'user-photo__img')
    .user__greeting   
        p  Привет, меня зовут 
        h2 Елена Малюгина
        p  | Я занимаюсь разработкой современных сайтов и приложений. 
           |Мне нравится делать интересные и современные проекты.    
    table.user__info
        tbody
            each item in userData
                tr 
                    td #{item.key}
                    td #{item.value}
    .user__site | Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. 
                | Чуть позже я освежу в нём свой контент. 
                | А пока посмотрите, как тут всё классно и красиво!                
